@import "variables";
@import "mixins";

body {
  font-family: Arial, sans-serif;
  background-color: $secondary-color;
}

h1, h2, h3, h4, h5, h6 {
  color: $primary-color;
  font-size: 40px;
  padding: 30px;
}

header {
    background-color: $background-color;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }
  
  nav {
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
  
      li {
        display: inline-block;
        margin-right: 20px;
  
        a {
          color: #fcc100d3;
          font-size: 40px;
          font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
          text-decoration: none;
  
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }


section:nth-child(even) {
    display: flex;
    flex-direction: row-reverse;
  
    .section-image {
      margin-right: 0;
      margin-left: 20px;
    }
  
    .button {
      margin-left: auto;
      margin-right: 0;
    }
  }
  
  section:nth-child(odd) {
    display: flex;
    flex-direction: row;
  
    .section-image {
      margin-right: 20px;
      margin-left: 0;
    }
  
    .button {
      margin-left: 0;
      margin-right: auto;
    }
  }

.section-image {
  max-width: 100%;
  width: 400px;
  height: 400px;
  object-fit: cover;
  border: 1px solid $primary-color;
  border-radius: 10px;
}

p {
    color: #fff;
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

section {
    margin: 20px 0;
  
    p {
      background-color: $background-color;
      padding: 10px;
      border-radius: $border-radius;
      box-shadow: 0 0 10px rgba(10, 0, 0, 0.2);
    }
  
    .button {
      @include button-styles($primary-color, #fff);
    }
  }

.search-bar {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  
    input[type="text"] {
      padding: 10px;
      border: 1px solid $primary-color;
      border-radius: 5px 0 0 5px;
      font-size: 16px;
    }
  
    button[type="submit"] {
      padding: 10px;
      background-color: $primary-color;
      color: #fff;
      border: none;
      border-radius: 0 5px 5px 0;
      font-size: 16px;
      cursor: pointer;
    }
  }

section {
  margin: 20px 0;

  h2 {
    margin-bottom: 10px;
  }

  p {
    line-height: 1.5;
  }

  .button {
    @include button-styles($primary-color, #fff);
  }
}

@media only screen and (max-width: 576px) {
  section {
    .section-image {
      margin-bottom: 10px;
    }

    .button {
      display: block;
      width: 100%;
    }
  }
}

@media only screen and (min-width: 576px) and (max-width: 768px) {
  section {
    .section-image {
      float: left;
      margin-right: 20px;
      margin-bottom: 10px;
    }

    .button {
      display: inline-block;
      margin-top: $padding;
    }
  }
}

@media only screen and (min-width: 768px) {
  section {
    display: flex;
    align-items: center;

    .section-image {
      flex: 1;
      margin-right: 20px;
      margin-bottom: 0;
    }

    .button {
      margin-left: auto;
    }
  }
}
