$primary-color: #eeff00; //color for background of the website 
$secondary-color: #1b1d01;//color for background of the paragraphs 
$font-size: 16px;
$border-radius: 5px;
$padding: 10px;
$background-color: #000307;//background of the header 
